[defaults]
# Inventory file location
inventory = ./inventory.ini

# Disable SSH host key checking (utile en développement)
host_key_checking = False

# Display output more clearly
force_color = True
stdout_callback = default
result_format = yaml

# Roles path
roles_path = ./roles

# Increase verbosity
# verbosity = 1

# Connection timeout
timeout = 30

# Number of parallel processes
forks = 5

# Remote temporary directory for Docker connection
remote_tmp = /tmp

# Disable pipelining for Docker
pipelining = False

# Use bash as the shell executable
executable = /bin/bash
